%h1 Home

= link_to 'Sign up',"#", :class=>"signup_button round"

%p Pellentesque semper nibh in erat consectetur interdum. Vestibulum molestie quam ac urna pretium quis feugiat turpis aliquet. Nullam volutpat sapien ut mi eleifend eu cursus lectus accumsan. In sit amet elit ut leo facilisis viverra. Vestibulum sollicitudin augue ut ante vulputate non vehicula diam imperdiet. Quisque eu lacus quam. Nunc quis lorem sem, sit amet mollis purus. Ut vel nisi sapien, vel vestibulum urna. Vivamus tristique erat ac purus vulputate vehicula. Etiam varius mi in dolor facilisis id ultrices felis pretium. Etiam non nulla condimentum enim cursus blandit sit amet et sapien. Donec fermentum, neque sed eleifend accumsan, leo felis aliquam lorem, non imperdiet justo nisi vel sem. Ut ut venenatis tortor. Cras sollicitudin ornare euismod. 